*{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    margin:  32px auto;
}
#form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}
label{
    margin: 16px 0 8px 4px;
    font-weight: 600;
}
.divMenor{
    display: flex;
    justify-content: space-between;
}
.menor{
    width: 390px;
    display: flex;
    flex-direction: column;
}
input, textarea, button{
    padding: 12px 8px;
    border-radius: 10px;
    border: 1px solid rgb(202, 202, 202);
    outline: none;
    font-size: 1.2rem;
}
input:focus, textarea:focus{
    border-color: black;
}
input::placeholder, textarea::placeholder{
    color: gray;
}
button{
    margin-top: 32px;
    color: white;
    background-color: blue;
    cursor: pointer;
}
button:hover{
    filter: brightness(0.9);
}